/*kolorystyka zielony
:root {
  --navigator: #12383f;
  --secondary-color: #88d7b7;
  --main-color: #ccdac9;
  --nav-text-color: #000000;
  --text-color: #ffffff;
}

/*light*/
:root {
  --navigator: #9464fa;
  --secondary-color: #d8e3e7;
  --main-color: #ffffff;
  --nav-text-color: #040404;
  --text-color: #ffffff;
  --hover: rgb(110, 79, 182);
}
/*kolorystyka bordo
:root {
  --navigator: #460303;
  --secondary-color: #a45566;
  --main-color: #e1d1b7;
  --nav-text-color: #000000;
  --text-color: #fff;
}

/*kolorystyka kamili
:root {
  --navigator: #1b7572;
  --secondary-color: #7dafa4;
  --main-color: #f2dcf1;
  --nav-text-color: #124235;
  --text-color: #ffffff;
} /**/

/* Podstawowe style */
body {
  font-family: Verdana;
  font-size: 17px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--main-color);
}

/* Nawigator */
.navbar {
  background-color: var(--navigator);
  padding: 10px 20px;
  border-bottom: 2px solid var(--navigator);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.navbar li:hover {
  background-color: var(--hover);
  border-radius: 15px;
  animation: reverse;
}

.burger {
  display: none; /* Domyślnie ukryty */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.burger span {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  transition: 0.6s;
}

.navbar li {
  margin: 5px;
  padding: 12px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}
.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

/* Banner */

.banner-images img {
  width: auto;
  height: 200px;
  border: 5px solid transparent;
  border-color: var(--navigator);
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}
.banner .scroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  animation: loop 15s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-990px);
  }
}
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  background-color: #ffffff;
  color: #fff;
}

/* Sekcje */
.section {
  width: 700px;
  background-color: var(--secondary-color);
  margin: auto;
  padding: 10px;
  color: var(--nav-text-color);
  border-radius: 20px;
  box-shadow: 5px 7px #817f81;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}
h2 {
  margin-bottom: 50px;
}

/* Galeria zdjęć */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile {
  display: flex;
  align-items: center;
  float: left;
  gap: 20px;
}
.profile.reverse {
  float: right;
}
.profile-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-color: #9464fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.description {
  background-color: var(--navigator);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  color: var(--text-color);
  float: left;
  transition: background-color 0.6s ease;
}
.description:hover {
  background-color: var(--hover);
  box-shadow: 2px 5px #817f81;
}

.description p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Kafelki */
.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.tile {
  flex: 1 1 calc(33% - 20px);
  background-color: var(--navigator);
  padding: 10px;
  border-radius: 5px;
  width: 47%;
  color: var(--text-color);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stopka */
.footer {
  background-color: var(--navigator);
  padding: 10px;
  text-align: center;
  color: var(--text-color);
  border-top: 2px solid var(--navigator);
}
@media (max-width: 1000px) {
  .section {
    width: 70%;
  }
}

/* Stylowanie dla urządzeń mobilnych */
@media (max-width: 750px) {
  .burger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .navbar {
    height: 20px;
  }

  .navbar a {
    color: #040404;
    transition: color 0.3s ease;
  }
  .navbar li:hover a {
    color: #fff;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: var(--secondary-color);
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .navbar ul.active {
    display: flex;
    text-align: center;
  }

  /* Banner */
  .banner-images img {
    width: 100%;
    height: 200px;
  }
  .banner .scroll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 10s linear infinite;
  }

  @keyframes loop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-870px);
    }
  }
  /* Sekcje */
  .section {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }

  /* Galeria */
  .gallery {
    gap: 10px;
  }
  .profile {
    flex-direction: column;
    text-align: center;
  }
  .profile.reverse {
    float: column;
  }
  .profile-image {
    order: -1;
    max-width: 100px;
    max-height: 100px;
  }
  .description {
    order: 0;
    width: 80%;
  }

  /* Kafelki */
  .tiles {
    order: 0;
    flex-direction: column;
    gap: 10px;
  }
  .tile {
    flex: none;
    width: auto;
  }

  /* Stopka */
  .footer {
    font-size: 14px;
  }
}
