:root {
  --navigator: #f4a261;
  --secondary-color: #ffe8dc;
  --main-color: #ffe8dc;
  --nav-text-color: #333;
  --text-color: #fff;
  --hover: #ce8455;
}

/* Podstawowe style */
body {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-size: 17px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  color: #5d5655;
  background-color: var(--main-color);
}
.navbar img {
  height: 70px;
  top: 5px;
  position: absolute;
  left: 10px;
  object-fit: contain;
}

/* Nawigator */
.navbar {
  background-color: var(--navigator);
  padding: 10px 20px;
  border-bottom: 2px solid var(--navigator);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  margin: 0;
  padding: 0;
  width: 700px;
  margin: auto;
}

.navbar li:hover {
  background-color: var(--hover);
  border-radius: 15px;
  animation: reverse;
}

.burger {
  display: none; /* Domyślnie ukryty */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.burger span {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  transition: 0.6s;
}

.navbar li {
  margin: 5px;
  padding: 12px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}
.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

/* Banner */
.banner {
  background-color: var(--main-color);
}

.banner-images img {
  width: auto;
  height: 200px;
  /*border: 5px solid transparent;
  border-color: var(--navigator);*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.item {
  width: auto;
  border: 5px solid transparent;
  border-color: var(--navigator);
  height: 270px;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--nav-text-color);
  font-size: 25px;
  background-color: var(--secondary-color);
}
.item p {
  align-items: center;
  height: 60px;
}

.banner .scroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  animation: loop 15s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-960px);
  }
}
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
}

/* Sekcje */
.section {
  width: 700px;
  /*background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 5px 7px #817f81;*/
  margin: auto;
  padding: 10px;
  color: var(--nav-text-color);
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}
h2 {
  margin-bottom: 50px;
}

/* Galeria zdjęć */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile {
  display: flex;
  align-items: center;
  float: left;
  gap: 20px;
}
.profile.reverse {
  float: right;
}
.profile-image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-color: var(--navigator);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.description {
  background-color: var(--navigator);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  color: var(--text-color);
  float: left;
  transition: background-color 0.6s ease, height 1s ease;
}
.description:hover {
  background-color: var(--hover);
  color: #fff;
  box-shadow: 2px 5px #817f81;
}

.description span {
  transition: opacity 1s ease, transform 1s ease;
}

.description span.hovered {
  font-size: 15px;
  display: none;
  opacity: 0;
  transform: translateY(100%);
}
.description span.default {
  opacity: 1;
  transform: translateY(0);
}

.description:hover span.hovered {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.description:hover span.default {
  display: none;
  opacity: 0;
  transform: translateY(-100%);
}

.description p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Kafelki */
.tiles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.tile {
  flex: 1 1 calc(33% - 20px);
  background-color: var(--text-color);
  padding: 10px;
  display: none;
  border-radius: 5px;
  width: 47%;
  color: var(--nav-text-color);
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}
.harm {
  background-color: var(--navigator);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.harm:hover {
  background-color: var(--hover);
  color: #fff;
  box-shadow: 2px 5px #817f81;
}

/* Stopka */
.footer {
  background-color: var(--navigator);
  padding: 10px;
  text-align: center;
  color: var(--text-color);
  border-top: 2px solid var(--navigator);
}

.fancy-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
.fancy-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section-about,
.footer-section-links,
.footer-section-contact {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section-about {
  width: 50%;
  padding: 10px;
}
.footer-section-links {
  width: 30%;

  padding: 10px;
  padding-left: 0px;
}
.footer-section-contact {
  width: 20%;
  padding: 10px;
}

.footer-section-links a {
  color: #f9a825;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .section {
    width: 70%;
    font-size: 18px;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 70%;
    margin: auto;
  }
  footer {
    font-size: 15px;
  }
}

/* Stylowanie dla urządzeń mobilnych */
@media (max-width: 750px) {
  .burger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .navbar {
    height: 20px;
  }
  .navbar img {
    height: 40px;
    margin: 0px;
    left: 10px;
    top: 0px;
  }

  .navbar a {
    color: #040404;
    transition: color 0.3s ease;
  }
  .navbar li:hover a {
    color: #fff;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: var(--secondary-color);
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .navbar ul.active {
    display: flex;
    width: 230px;
    object-position: right;
    text-align: center;
  }

  /* Banner */
  .banner-images img {
    width: auto;
    height: 200px;
  }
  .banner .scroll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 10s linear infinite;
  }
  /* Sekcje */
  .section {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }

  /* Galeria */
  .gallery {
    gap: 10px;
  }
  .profile {
    flex-direction: column;
    text-align: center;
  }
  .profile.reverse {
    float: column;
  }
  .description span.hovered {
    font-size: 13px;
    display: none;
    opacity: 0;
    transform: translateY(100%);
  }
  .profile-image {
    order: -1;
    max-width: 100px;
    max-height: 100px;
  }
  .description {
    order: 0;
    width: 80%;
    margin: 10px;
  }

  /* Kafelki */
  .tiles {
    order: 0;
    flex-direction: column;
    gap: 10px;
  }
  .tile {
    flex: none;
    width: auto;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .harm {
    width: auto;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Stopka */
  .fancy-footer {
    font-size: 13px;
  }
  .footer-section-contact {
    display: none;
    clear: both;
  }
}
@media (max-width: 500px) {
  .section {
    font-size: 15px;
  }
  .footer-section-contact {
    display: none;
  }
}
